*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h1 {
  text-align: center;
}

#div-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(16, auto); 
  }
  
  #div-container div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }

  #div-container div:hover {
    background-color: gold;
  }
  

footer {
    text-align: center; 
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
